# Function (函數)

In [ ]:
def no_return():
    "do nothing"

def return_nothing():
    "do nothing"
    return

def return_null():
    "do nothing"
    return None

In [ ]:
print(no_return())
print(return_nothing())
print(return_null())

In [ ]:
def add(x, y):
    """
    return x+y
    x: int
    y: int
    return: int
    """
    return x + y

In [ ]:
add

In [ ]:
add(1, 2)

In [ ]:
add(x=1, y=2)

## Default Value

In [ ]:
def add(x=1, y=1):
    """
    return x+y
    x: int
    y: int
    return: int
    """
    return x + y

In [ ]:
add()

## explode list or dictionary

In [ ]:
def add(x, y):
    """
    return x+y
    x: int
    y: int
    return: int
    """
    return x + y

In [ ]:
add(*[1, 2])

In [ ]:
add(**{"x": 1, "y": 2})

## kwargs, args

In [ ]:
def kw_test(**kwargs):
    return kwargs  #-->dict
    

def args_test(*args):
    return args  #-->tuple


def test(x, y, *args, **kwargs):
    print(x, y)
    print("args=", args)
    print("kwargs=", kwargs)
    return x + y

In [ ]:
kw_test(x=2, y=3)

In [ ]:
args_test(1, 2, 3)

In [ ]:
test(2, 3, 10, 11, z=4, m=6)

In [ ]:
test(a=2, b=3, 10, 11, c=4, v=6)

## local variable & global variable

In [ ]:
PI = 3.1415926 # global variable
def times_pi(x, pi=None):
    # 參數亦是 local variable
    y = 10 # function 內宣告的變數也是 local variable
    if pi is None:
        return x*PI
    else:
        return x*pi

In [ ]:
times_pi(1, 3)

In [ ]:
times_pi(1)

### 變數的取用會從區域變數開始找起，再層層向外

In [ ]:
PI = 3.1415926
def times_pi_2(x):
    PI = 3
    return x*PI

In [ ]:
times_pi_2(1)

In [ ]:
PI

### global

In [ ]:
PI = 3.1415926
def times_pi_3(x):
    global PI
    PI = 3
    return x*PI

In [ ]:
times_pi_3(1)

In [ ]:
PI

### nonlocal

In [ ]:
PI = 3.1415926
def outer_function(y):
    PI = 3.14
    print("outer_function's PI = ", PI)
    def times_pi_4(x):
        nonlocal PI
        PI = 3
        return x*PI
    
    answer = times_pi_4(y)
    print("outer_function's PI = ", PI)
    return answer

In [ ]:
outer_function(1)

In [ ]:
PI

### 傳值、傳址

In [ ]:
def integer_add_one(x):
    x += 1
    return x

In [ ]:
value = 5
print(value)

integer_add_one(value)
print(value)

In [ ]:
def array_add_one(x):
    x.append(1)
    return x

In [ ]:
value = [5]
print(value)

array_add_one(value)
print(value)

# 練習

```
中文表示固定為：一, 二, 三, 四, 五, 六, 七, 八, 九, 零, 十, 百, 千, 萬, 億
```

In [6]:
def grouping_list(group, data):
    """
        將輸入的序列化物件分組
    :param group: int, 一組要有幾個元素
    :param data: iterable object, 欲分組之物件
    :return: list
    """
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]
grouping_list(3, a)    
# output : [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [68]:
def grouping_list(group, data):
    ouput = []
    for i in range(0, len(a),group):
        output.append(a[i:i+group])
        return output
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]    
print(exchange_and_group_data(3, a))

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [8]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]
result = [[],[],[]]
for item in a:
        if len(result[0]) < 3:
                result[0].append(item)
        elif len(result[1]) < 3:
                result[1].append(item)
        else:
                result[2].append(item)
print (result)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
def number_to_chinese(number):
    """
        將數字轉換成中文表示
        若無法轉換，則回傳 None
        考慮到「億」即可
    :param number: int
    :return: str
    """
number = 25
number_to_chinese(number)    
# output : '二十五'

In [19]:
num=input()
num1="0123456789"
x = []
t = int()
nx2 =""


num2=['零','一','二','三','四','五','六','七','八','九']
for i in num:
    for j in num1:
        if i==j:
            t = t + 1
            #print(num2[int(j)],end="")
            str = num2[int(j)]
            x += str
            a1 = t

def number_to_chinese(number):
    a1 = int()
    nx1 = ""
    for i in range(t,1,-1):
        #print(i)
        if i == 9:
           nx1 = nx1 + x[t-i] + "億"

        elif i == 8:
           nx1 = nx1 + x[t-i] + "千"
        elif i == 7:
           nx1 = nx1 + x[t-i] + "百"
        elif i == 6:
           nx1 = nx1 + x[t-i] + "十"
        elif i == 5:
           nx1 = nx1 + x[t-i] + "萬"
        elif i == 4:
           nx1 = nx1 + x[t-i] + "千"
        elif i == 3:
           nx1 = nx1 + x[t-i] + "百"
        elif i == 2:
           nx1 = nx1 + x[t-i] + "十"
           print(nx1+x[t-i+1])
        elif i == 1:
           nx1 = nx1 + x[i-1]





number = 25
number_to_chinese(number)

250
二百五十零

In [ ]:
def chinese_to_number(number):
    """
        將數字轉換成中文表示
        若無法轉換，則回傳 None
        考慮到「億」即可
    :param number: str
    :return: int
    """
number = '二十五'
chinese_to_number(number)    
# output : 25

In [34]:
import re
import string
common_used_numerals_tmp ={'零':0, '一':1, '二':2, '三':3, '四':4, '五':5, '六':6, '七':7, '八':8, '九':9, '十':10, '百':100, '千':1000, '萬':10000, '億':100000000}


def chstring2int(uchar):
    ##1）按億、萬分割字符
    sep_char = re.split(r'億|萬',uchar)
    total_sum = 0
    for i,sc in enumerate(sep_char):
        ##print("level 1:{}-----{}".format(i,sc))
        ##2）對每一部份進行轉化處理，比如第二部分[ "三千二百四十二"]
        split_num = sc.replace('千', '1000').replace('百', '100').replace('十', '10')
        int_series = re.split(r'(\d{1,})', split_num)
        int_series.append("")
        int_series = ["".join(i) for i in zip(int_series[0::2],int_series[1::2])]
        int_series = ['零' if i == '' else i for i in int_series]
        num = 0
        ##int_series：["三1000", "二100", "四10", "二"]
        ##3）求加總和int_series
        for ix, it in enumerate(int_series):
            it = re.sub('零', '', it) if it != '零' else it
            ##print("level 2:{}{}".format(ix,it))
            temp = common_used_numerals_tmp[it[0]]*int(it[1:]) if len(it)>1 else common_used_numerals_tmp[it[0]]
            num += temp
            ##print("transformed part sum %s"%str(num))
        total_sum += num * (10 ** (4*(len(sep_char) - i - 1)))
    return total_sum

def test(ch):
    print("----------Transform test----------")
    print("{}:{}".format(ch,chstring2int(ch)))

test("二億五千萬")
test("二千五百萬")
test("二百五十萬")
test("二十五萬")
test("二萬五千")
test("二千五百")
test("二百五十")
test("二十五")

----------Transform test----------
二億五千萬:250000000
----------Transform test----------
二千五百萬:25000000
----------Transform test----------
二百五十萬:2500000
----------Transform test----------
二十五萬:250000
----------Transform test----------
二萬五千:25000
----------Transform test----------
二千五百:2500
----------Transform test----------
二百五十:250
----------Transform test----------
二十五:25

In [21]:
def exchange_and_group_data(group, data)
    """
        將輸入的序列化物件分組並轉讓中文跟數字之間做轉換
    :param group: int, 一組要有幾個元素
    :param data: iterable object, 欲分組之物件
    :return: list
    """
    
a = [1, 2, 3, '四', '五', '六', 7, 8, 9]
grouping_list(3, a)
# output : [['一', '二', '三'], [4, 5, 6], ['七', '八', '九']]

SyntaxError: invalid syntax (<ipython-input-21-23fabb942476>, line 1)

In [18]:
a = [1, 2, 3, '四', '五', '六', 7, 8, 9]
result = [[],[],[]]
for item in a:
        if len(result[0]) < 3:
                result[0].append(item)
        elif len(result[1]) < 3:
                result[1].append(item)
        else:
                result[2].append(item)
print (result)

[[1, 2, 3], ['四', '五', '六'], [7, 8, 9]]

In [ ]:
elif comnum in num_value:
            for key in num_key:
                if comnum == num_dict[key]:
                    c.append(key)
    output.append(c)
    
print(output)

In [75]:
def exchange_and_group_data(group, data):
    output = []
    for i in range(0, len(a), group):
        output.append(a[i:i+group])
    return output
a = [1, 2, 3, '四', '五', '六', 7, 8, 9]

LIST = exchange_and_group_data(3,a)

for j in range(len(LIST)):
    print(LIST[j])    
    
#設定空值    
output = []
num_dict = {'零':0, '一':1, '二':2, '三':3, '四':4, '五':5, '六':6, '七':7, '八':8, '九':9, '十':10}
num_key = list(num_dict.keys())
num_value = list(num_dict.keys())

#叫出每一組
for i in range(len(LIST)):
    c = []
    print(LIST[i])
    for j in range(len(LIST[i])):
        comnum = LIST[i][j]

#比對每一個 
        if comnum in num_key:
            num_dict.get(comnum)
            c.append(num_dict.get(comnum))
        
        
        elif comnum in num_value:
            for key in num_key:
                if comnum == num_dict[key]:
                    c.append(key)
    output.append(c)
    
print(output)

[1, 2, 3]
['四', '五', '六']
[7, 8, 9]
[1, 2, 3]
['四', '五', '六']
[7, 8, 9]
[[], [4, 5, 6], []]